.App {
  text-align: center;
  width: 90%;
  background-color: #f0f0f0;
  margin: auto;
}

main {
  padding: 2rem 0;
}

.component-section {
  border-bottom: 1px solid #f0f0f0;
}

.component-section__header {
  padding: 0 2rem;
  text-align: left;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
